@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");
@import url("../src/assets/css/_reset.css");

:root {
    --bg-blue: #142d71;
}

* {
    font-family: "Nunito", sans-serif;
}

.btn-blue {
    border-radius: 4px !important;
    border: none !important;
    color: #fff !important;
    background-color: #192b74 !important;
}

.btn-blue:hover {
    background-color: #6372a9 !important;
    transition: 0.7s;
}

/* Navbar */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* Introsection */
.typing-effect-text {
    font-size: 2.5rem;
}

.intro-btns a:hover {
    color: inherit !important;
}

.intro-left-side .play-btn:hover {
    transition: 0.3s ease;
    transform: scale(1.2);
}

.intro-right-side {
    background: linear-gradient(135deg, #192b74 0.42%, #2946a1 100%);
    opacity: 0.7 !important;
    mix-blend-mode: normal;
    border-bottom-left-radius: 70%;
    height: 30rem;
}

@media (max-width: 767px) {
    .intro-right-side {
        border-radius: 0;
        height: 20rem;
    }
}

.intro-right-side .rounded-circle:hover {
    transition: 0.3s ease;
    transform: scale(1.2);
}

/* Cards Section */
.custom-card {
    min-width: 14rem;
}

.custom-card img {
    width: 100%;
}

/* Reservation Section */
.reservation-section .left-side img {
    width: 80%;
}

.reservation-section .right-side span {
    font-size: 14px;
    background-color: #f0d9d8;
    color: #ec615b;
}

.reservation-section .right-side p {
    color: #77838f;
}

.reservation-section .right-side .button {
    background-color: #eaefff;
    border-radius: 4px 0 0 4px;
}

.active {
    background: linear-gradient(135deg, #192b74 0.42%, #2946a1 100%);
    color: #fff;
}

/* Fast-reports Section */
.fast-reports-section .left-side span {
    font-size: 14px;
    background-color: #f0d9d8;
    color: #ec615b;
}

.fast-reports-section .left-side p {
    color: #77838f;
}

.fast-reports-section .left-side .button {
    background-color: #eaefff;
    border-radius: 4px 0 0 4px;
}

.fast-reports-section .right-side img {
    width: 80%;
}

/* Count-up Section */
.countup {
    background: linear-gradient(135deg, #192b74 0.42%, #2946a1 100%);
    opacity: 0.7;
    mix-blend-mode: normal;
    font-size: 20px;
}

/* Prices Section */
.prices-section span {
    font-size: 14px;
    background-color: #f0d9d8;
    color: #ec615b;
}

.prices-section p {
    color: #77838f;
}

.pricing-card {
    border: 1px solid #cfdbff;
    min-width: 280px;
    max-width: 350px !important;
}

.pricing-card:hover {
    border: 1px solid #969da3;
}

.card-heading {
    color: #142d71;
}

.pricing-card .price {
    color: #1e2022;
    font-size: 60px;
}

.services-list p {
    font-size: 17px;
    color: #77838f;
}

.services-list .deactive {
    color: #d3d3d3;
}

.card-btn {
    width: 100%;
    background-color: #cfdbff;
    color: #192b74;
    font-weight: 600;
    font-size: 15px;
}

.card-btn:hover {
    background-color: #142d71;
    color: #fff;
    transition: 0.2s ease-in;
}

.color-red {
    color: #ec615b;
}

.btn-red {
    background-color: #f5ccca;
}

.btn-red:hover {
    background-color: #ec615b;
    color: #fff;
    transition: 0.2s ease-in;
}

/* Download Section */
.download-section .button {
    background-color: var(--bg-blue);
}

.download-section .button:hover {
    background-color: #6372a9 !important;
    transition: 0.7s;
}

/* Footer */
.icon {
    font-size: 10px !important;
}

.footer a:hover {
    color: #212529 !important;
}
