@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");
@import url("../src/assets/css/_reset.css");

:root {
  --bg-blue: #142d71;
}
* {
  font-family: "Nunito", sans-serif;
}

.btn-blue {
  border-radius: 4px !important;
  border: none !important;
  background-color: var(--bg-blue) !important;
  color: #fff !important;
}

/* Introsection */
.intro-left-side {
  padding-top: 130px;
}

.typing-effect-text {
  font-size: 38px;
  font-weight: 400;
  line-height: 48px;
}
@media (max-width: 767px) {
  .typing-effect-text {
    font-size: 42px;
    line-height: 44px;
  }
  .intro-left-side {
    padding-top: 30px;
  }
}
.intro-left-side .paragraph {
  color: #77838f;
}
.intro-left-side .intro-btns img {
  border: 1px solid transparent;
}
.intro-left-side .intro-btns img:hover {
  border: 1px solid #969da3;
  transition: 0.3s ease-in-out;
}
.intro-right-side {
  background: linear-gradient(135deg, #192b74 0.42%, #2946a1 100%);
  opacity: 0.7 !important;
  mix-blend-mode: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 70%;
  height: 450px;
}
@media (max-width: 767px) {
  .intro-right-side {
    border-radius: 0;
    height: 300px;
  }
}
.intro-right-side img:hover {
  transition: 0.3s ease;
  transform: scale(1.2);
}

/* Carousel-section */
.cardsSection {
  padding-top: 100px;
  padding-bottom: 70px;
}
.custom-card {
  min-width: 200px;
}
.custom-card img {
  width: 100%;
}
.card-text {
  color: #77838f;
  line-height: 27px;
}
.mySwiper {
  padding-bottom: 100px !important;
}

/* reservation Section */
.reservation-section .left-side img {
  width: 80%;
}
.reservation-section .right-side span {
  font-size: 14px;
  letter-spacing: 0.79px;
  padding: 10px 25px;
  text-align: center;
  border-radius: 30px;
  background-color: #f0d9d8;
  color: #ec615b;
}
.reservation-section .right-side p {
  color: #77838f;
}
.reservation-section .right-side .button {
  height: 41px;
  width: 47px;
  background-color: #eaefff;
  border-radius: 4px 0 0 4px;
  border: none;
}
.active {
  background: linear-gradient(135deg, #192b74 0.42%, #2946a1 100%);
  color: #fff;
}

/* Fast-reports Section */
.fast-reports-section {
  padding: 100px 0;
}
.fast-reports-section .left-side span {
  font-size: 14px;
  letter-spacing: 0.79px;
  padding: 10px 25px;
  text-align: center;
  border-radius: 30px;
  background-color: #f0d9d8;
  color: #ec615b;
}
.fast-reports-section .left-side p {
  color: #77838f;
}
.fast-reports-section .left-side .button {
  height: 41px;
  width: 47px;
  background-color: #eaefff;
  border-radius: 4px 0 0 4px;
  border: none;
}

.fast-reports-section .right-side img {
  width: 80%;
}

/* Count-up Section */
.countup {
  background: linear-gradient(135deg, #192b74 0.42%, #2946a1 100%);
  color: #fff;
  padding: 60px 0;
  opacity: 0.7;
  mix-blend-mode: normal;
}
.countup p {
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
}
